# This OpenAPI specification is auto-generated
# DO NOT EDIT THIS FILE MANUALLY
# API Version: V3

openapi: 3.1.0
info:
  title: Apostra V3 API
  version: 3.0.0-preview
  description: >-
    Account-aware Apostra operations and authenticated reads of approved public immutable agreement revisions. Public
    HTTP writes use an Idempotency-Key: completed receipts replay for 7 days after settlement, then the key may be
    reused. In-flight and uncertain receipts do not expire before recovery settles them.
servers:
  - url: https://api.apostra.com/api/v3
paths:
  /documents/{documentId}/revisions/{revisionId}/sections:
    get:
      operationId: getV3PublicDocumentRevisionSections
      summary: Read a bounded public immutable document revision
      security:
        - apiKeyAuth: []
        - m2mOAuth:
            - interchange:read
      parameters:
        - in: path
          name: documentId
          schema:
            type: string
            minLength: 1
            maxLength: 512
          required: true
        - in: path
          name: revisionId
          schema:
            type: string
            minLength: 1
            maxLength: 512
          required: true
        - in: query
          name: section
          schema:
            type: string
            minLength: 1
            maxLength: 512
        - in: query
          name: query
          schema:
            type: string
            minLength: 1
            maxLength: 2000
        - in: query
          name: cursor
          schema:
            description: Opaque continuation cursor. When resuming, resend the preceding response applicability.asOf value as asOf.
            type: string
            minLength: 1
            maxLength: 16384
          description: Opaque continuation cursor. When resuming, resend the preceding response applicability.asOf value as asOf.
        - in: query
          name: asOf
          schema:
            description: >-
              Stable evaluation time. Required with cursor and must equal the preceding response applicability.asOf
              value.
            type: string
            format: date-time
            pattern: >-
              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
          description: Stable evaluation time. Required with cursor and must equal the preceding response applicability.asOf value.
      responses:
        '200':
          description: Bounded exact revision read
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      source:
                        type: string
                        enum:
                          - docs
                          - specs
                      document:
                        type: string
                      url:
                        type: string
                        format: uri
                      query:
                        type: string
                      queryApplied:
                        type: boolean
                      identity:
                        type: object
                        properties:
                          documentId:
                            type: string
                          stableKey:
                            type: string
                          kind:
                            type: string
                            enum:
                              - agreement
                              - addendum
                              - policy
                              - schedule
                              - guide
                              - product_documentation
                              - protocol_specification
                              - reference
                          title:
                            type: string
                          owner:
                            type: object
                            properties:
                              kind:
                                type: string
                                enum:
                                  - scope3
                                  - organization
                                  - seller
                                  - third_party
                              id:
                                type: string
                              displayName:
                                type: string
                            required:
                              - kind
                              - displayName
                            additionalProperties: false
                          visibility:
                            type: string
                            enum:
                              - public
                              - organization_private
                              - relationship_private
                              - staff_private
                          maintenanceMode:
                            type: string
                            enum:
                              - published_revisions
                              - maintained_current_with_revisions
                        required:
                          - documentId
                          - stableKey
                          - kind
                          - title
                          - owner
                          - visibility
                          - maintenanceMode
                        additionalProperties: false
                      revision:
                        type: object
                        properties:
                          revisionId:
                            type: string
                          documentId:
                            type: string
                          predecessorRevisionId:
                            type:
                              - string
                              - 'null'
                          label:
                            type: string
                          contentHash:
                            type: string
                            pattern: ^sha256:[a-f0-9]{64}$
                          mediaType:
                            type: string
                          byteLength:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          publishedAt:
                            anyOf:
                              - type: string
                                format: date-time
                                pattern: >-
                                  ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                              - type: 'null'
                          effectiveFrom:
                            anyOf:
                              - type: string
                                format: date-time
                                pattern: >-
                                  ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                              - type: 'null'
                          effectiveUntil:
                            anyOf:
                              - type: string
                                format: date-time
                                pattern: >-
                                  ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                              - type: 'null'
                          source:
                            type: object
                            properties:
                              system:
                                type: string
                              sourceId:
                                type: string
                              sourceRevision:
                                type: string
                              canonicalCitationUrl:
                                type: string
                                format: uri
                              retrievedAt:
                                type: string
                                format: date-time
                                pattern: >-
                                  ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                            required:
                              - system
                              - sourceId
                              - sourceRevision
                              - canonicalCitationUrl
                              - retrievedAt
                            additionalProperties: false
                          approval:
                            type: object
                            properties:
                              state:
                                type: string
                              approvedAt:
                                anyOf:
                                  - type: string
                                    format: date-time
                                    pattern: >-
                                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                                  - type: 'null'
                              approvedBy:
                                type:
                                  - string
                                  - 'null'
                              approvalRef:
                                type:
                                  - string
                                  - 'null'
                            required:
                              - state
                              - approvedAt
                              - approvedBy
                              - approvalRef
                            additionalProperties: false
                          authority:
                            type: object
                            properties:
                              class:
                                type: string
                              issuer:
                                type: string
                              approvalRef:
                                type:
                                  - string
                                  - 'null'
                            required:
                              - class
                              - issuer
                              - approvalRef
                            additionalProperties: false
                        required:
                          - revisionId
                          - documentId
                          - predecessorRevisionId
                          - label
                          - contentHash
                          - mediaType
                          - byteLength
                          - publishedAt
                          - effectiveFrom
                          - effectiveUntil
                          - source
                          - approval
                          - authority
                        additionalProperties: false
                      selection:
                        type: object
                        properties:
                          kind:
                            type: string
                            const: exact
                          revisionId:
                            type: string
                        required:
                          - kind
                          - revisionId
                        additionalProperties: false
                      applicability:
                        type: object
                        properties:
                          disposition:
                            type: string
                            const: reference
                          selectedAccountId:
                            type: string
                          asOf:
                            type: string
                            format: date-time
                            pattern: >-
                              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                          basis:
                            type: object
                            properties:
                              kind:
                                type: string
                                const: relevance_only
                              reasonCode:
                                type: string
                                const: exact_revision_read
                            required:
                              - kind
                              - reasonCode
                            additionalProperties: false
                        required:
                          - disposition
                          - selectedAccountId
                          - asOf
                          - basis
                        additionalProperties: false
                      sections:
                        type: array
                        items:
                          type: object
                          properties:
                            heading:
                              type: string
                            breadcrumb:
                              type: array
                              items:
                                type: string
                            content:
                              type: string
                            url:
                              type: string
                              format: uri
                            section:
                              type: object
                              properties:
                                sectionId:
                                  type: string
                                revisionId:
                                  type: string
                                parentSectionId:
                                  type:
                                    - string
                                    - 'null'
                                heading:
                                  type: string
                                headingPath:
                                  type: array
                                  items:
                                    type: string
                                ordinal:
                                  type: integer
                                  minimum: 0
                                  maximum: 9007199254740991
                                canonicalCitationUrl:
                                  type: string
                                  format: uri
                                contentHash:
                                  type: string
                                  pattern: ^sha256:[a-f0-9]{64}$
                                byteLength:
                                  type: integer
                                  minimum: 0
                                  maximum: 9007199254740991
                              required:
                                - sectionId
                                - revisionId
                                - parentSectionId
                                - heading
                                - headingPath
                                - ordinal
                                - canonicalCitationUrl
                                - contentHash
                                - byteLength
                              additionalProperties: false
                            startByte:
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                            endByteExclusive:
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                            sectionComplete:
                              type: boolean
                          required:
                            - heading
                            - breadcrumb
                            - content
                            - url
                            - section
                            - startByte
                            - endByteExclusive
                            - sectionComplete
                          additionalProperties: false
                      linkedDocuments:
                        type: array
                        items:
                          type: object
                          properties:
                            label:
                              type: string
                            document:
                              type: string
                            url:
                              type: string
                              format: uri
                            targetDocumentId:
                              type:
                                - string
                                - 'null'
                            targetRevisionId:
                              type:
                                - string
                                - 'null'
                            targetSectionId:
                              type:
                                - string
                                - 'null'
                          required:
                            - label
                            - document
                            - url
                            - targetDocumentId
                            - targetRevisionId
                            - targetSectionId
                          additionalProperties: false
                      crossReferences:
                        type: array
                        items:
                          type: object
                          properties:
                            label:
                              type: string
                            targetDocumentId:
                              type:
                                - string
                                - 'null'
                            targetRevisionId:
                              type:
                                - string
                                - 'null'
                            targetSectionId:
                              type:
                                - string
                                - 'null'
                            canonicalCitationUrl:
                              type: string
                              format: uri
                            includedInResponse:
                              type: boolean
                          required:
                            - label
                            - targetDocumentId
                            - targetRevisionId
                            - targetSectionId
                            - canonicalCitationUrl
                            - includedInResponse
                          additionalProperties: false
                      completeness:
                        type: object
                        properties:
                          status:
                            type: string
                            enum:
                              - complete
                              - partial
                          returnedBytes:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          returnedSectionCount:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          omittedSectionCount:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          reasonCodes:
                            type: array
                            items:
                              type: string
                        required:
                          - status
                          - returnedBytes
                          - returnedSectionCount
                          - omittedSectionCount
                          - reasonCodes
                        additionalProperties: false
                      coverage:
                        type: array
                        items:
                          anyOf:
                            - type: object
                              properties:
                                source:
                                  type: string
                                outcome:
                                  type: string
                                  const: complete
                              required:
                                - source
                                - outcome
                              additionalProperties: false
                            - type: object
                              properties:
                                source:
                                  type: string
                                outcome:
                                  type: string
                                  const: partial
                                reasonCode:
                                  type: string
                                  enum:
                                    - response_bounded
                                    - selection_incomplete
                                retryable:
                                  type: boolean
                              required:
                                - source
                                - outcome
                                - reasonCode
                                - retryable
                              additionalProperties: false
                      continuation:
                        anyOf:
                          - type: object
                            properties:
                              cursor:
                                type: string
                              action:
                                type: string
                                const: continue_same_document_read
                              expiresAt:
                                type: string
                                format: date-time
                                pattern: >-
                                  ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                            required:
                              - cursor
                              - action
                              - expiresAt
                            additionalProperties: false
                          - type: 'null'
                      fullDocument:
                        anyOf:
                          - type: object
                            properties:
                              available:
                                type: boolean
                                const: true
                              authenticatedDownloadPath:
                                type: string
                              mediaType:
                                type: string
                              contentHash:
                                type: string
                                pattern: ^sha256:[a-f0-9]{64}$
                            required:
                              - available
                              - authenticatedDownloadPath
                              - mediaType
                              - contentHash
                            additionalProperties: false
                          - type: object
                            properties:
                              available:
                                type: boolean
                                const: false
                            required:
                              - available
                            additionalProperties: false
                      bounded:
                        type: boolean
                        const: true
                      truncated:
                        type: boolean
                      terminal:
                        type: boolean
                        const: true
                      nextAction:
                        type: string
                        const: answer_or_state_not_established
                      linkedDocumentAction:
                        type: string
                        const: read_direct_link_once_if_needed
                    required:
                      - source
                      - document
                      - url
                      - query
                      - queryApplied
                      - identity
                      - revision
                      - selection
                      - applicability
                      - sections
                      - linkedDocuments
                      - crossReferences
                      - completeness
                      - coverage
                      - continuation
                      - fullDocument
                      - bounded
                      - truncated
                      - terminal
                      - nextAction
                      - linkedDocumentAction
                    additionalProperties: false
                  error:
                    type: 'null'
                required:
                  - data
                  - error
                additionalProperties: false
        '400': &ref_0
          description: Invalid document reference
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: 'null'
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                          - DOCUMENT_REFERENCE_INVALID
                          - DOCUMENT_NOT_FOUND
                          - DOCUMENT_CURSOR_STALE
                          - DOCUMENT_DEPENDENCY_UNAVAILABLE
                          - DOCUMENT_INTERNAL_ERROR
                      message:
                        type: string
                      details:
                        type: object
                        properties:
                          retryable:
                            type: boolean
                          correlationId:
                            type: string
                          coverage:
                            type: array
                            items:
                              type: object
                              properties:
                                source:
                                  type: string
                                outcome:
                                  type: string
                                  const: unavailable
                                reasonCode:
                                  type: string
                                retryable:
                                  type: boolean
                              required:
                                - source
                                - outcome
                                - reasonCode
                                - retryable
                              additionalProperties: false
                        required:
                          - retryable
                          - correlationId
                          - coverage
                        additionalProperties: false
                    required:
                      - code
                      - message
                      - details
                    additionalProperties: false
                required:
                  - data
                  - error
                additionalProperties: false
        '401': &ref_1
          description: Unauthenticated
          content:
            application/json:
              schema: &ref_6
                $ref: '#/components/schemas/V3ToolErrorResponse'
        '404': &ref_2
          description: Document not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: 'null'
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                          - DOCUMENT_REFERENCE_INVALID
                          - DOCUMENT_NOT_FOUND
                          - DOCUMENT_CURSOR_STALE
                          - DOCUMENT_DEPENDENCY_UNAVAILABLE
                          - DOCUMENT_INTERNAL_ERROR
                      message:
                        type: string
                      details:
                        type: object
                        properties:
                          retryable:
                            type: boolean
                          correlationId:
                            type: string
                          coverage:
                            type: array
                            items:
                              type: object
                              properties:
                                source:
                                  type: string
                                outcome:
                                  type: string
                                  const: unavailable
                                reasonCode:
                                  type: string
                                retryable:
                                  type: boolean
                              required:
                                - source
                                - outcome
                                - reasonCode
                                - retryable
                              additionalProperties: false
                        required:
                          - retryable
                          - correlationId
                          - coverage
                        additionalProperties: false
                    required:
                      - code
                      - message
                      - details
                    additionalProperties: false
                required:
                  - data
                  - error
                additionalProperties: false
        '409': &ref_3
          description: Document cursor is stale
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: 'null'
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                          - DOCUMENT_REFERENCE_INVALID
                          - DOCUMENT_NOT_FOUND
                          - DOCUMENT_CURSOR_STALE
                          - DOCUMENT_DEPENDENCY_UNAVAILABLE
                          - DOCUMENT_INTERNAL_ERROR
                      message:
                        type: string
                      details:
                        type: object
                        properties:
                          retryable:
                            type: boolean
                          correlationId:
                            type: string
                          coverage:
                            type: array
                            items:
                              type: object
                              properties:
                                source:
                                  type: string
                                outcome:
                                  type: string
                                  const: unavailable
                                reasonCode:
                                  type: string
                                retryable:
                                  type: boolean
                              required:
                                - source
                                - outcome
                                - reasonCode
                                - retryable
                              additionalProperties: false
                        required:
                          - retryable
                          - correlationId
                          - coverage
                        additionalProperties: false
                    required:
                      - code
                      - message
                      - details
                    additionalProperties: false
                required:
                  - data
                  - error
                additionalProperties: false
        '500': &ref_4
          description: Unexpected document failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: 'null'
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                          - DOCUMENT_REFERENCE_INVALID
                          - DOCUMENT_NOT_FOUND
                          - DOCUMENT_CURSOR_STALE
                          - DOCUMENT_DEPENDENCY_UNAVAILABLE
                          - DOCUMENT_INTERNAL_ERROR
                      message:
                        type: string
                      details:
                        type: object
                        properties:
                          retryable:
                            type: boolean
                          correlationId:
                            type: string
                          coverage:
                            type: array
                            items:
                              type: object
                              properties:
                                source:
                                  type: string
                                outcome:
                                  type: string
                                  const: unavailable
                                reasonCode:
                                  type: string
                                retryable:
                                  type: boolean
                              required:
                                - source
                                - outcome
                                - reasonCode
                                - retryable
                              additionalProperties: false
                        required:
                          - retryable
                          - correlationId
                          - coverage
                        additionalProperties: false
                    required:
                      - code
                      - message
                      - details
                    additionalProperties: false
                required:
                  - data
                  - error
                additionalProperties: false
        '503': &ref_5
          description: Document source or account resolution unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: 'null'
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum:
                          - DOCUMENT_REFERENCE_INVALID
                          - DOCUMENT_NOT_FOUND
                          - DOCUMENT_CURSOR_STALE
                          - DOCUMENT_DEPENDENCY_UNAVAILABLE
                          - DOCUMENT_INTERNAL_ERROR
                      message:
                        type: string
                      details:
                        type: object
                        properties:
                          retryable:
                            type: boolean
                          correlationId:
                            type: string
                          coverage:
                            type: array
                            items:
                              type: object
                              properties:
                                source:
                                  type: string
                                outcome:
                                  type: string
                                  const: unavailable
                                reasonCode:
                                  type: string
                                retryable:
                                  type: boolean
                              required:
                                - source
                                - outcome
                                - reasonCode
                                - retryable
                              additionalProperties: false
                        required:
                          - retryable
                          - correlationId
                          - coverage
                        additionalProperties: false
                    required:
                      - code
                      - message
                      - details
                    additionalProperties: false
                required:
                  - data
                  - error
                additionalProperties: false
  /documents/{documentId}/revisions/{revisionId}/download:
    get:
      operationId: downloadV3PublicDocumentRevision
      summary: Download a public immutable document revision
      security:
        - apiKeyAuth: []
        - m2mOAuth:
            - interchange:read
      parameters:
        - in: path
          name: documentId
          schema:
            type: string
            minLength: 1
            maxLength: 512
          required: true
        - in: path
          name: revisionId
          schema:
            type: string
            minLength: 1
            maxLength: 512
          required: true
      responses:
        '200':
          description: Authenticated full document bytes
          content:
            text/markdown; charset=utf-8:
              schema:
                type: string
                format: binary
        '400': *ref_0
        '401': *ref_1
        '404': *ref_2
        '409': *ref_3
        '500': *ref_4
        '503': *ref_5
  /receipts/{receiptId}:
    get:
      operationId: getV3PublicMutationReceipt
      summary: Read the state of a V3 HTTP write receipt
      security:
        - apiKeyAuth: []
        - m2mOAuth:
            - interchange:read
        - m2mOAuth:
            - interchange:write
      parameters:
        - in: path
          name: receiptId
          schema:
            type: string
            format: uuid
            pattern: >-
              ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
          required: true
        - name: X-SCOPE3-CUSTOMER-ID
          in: header
          required: false
          description: Select the same accessible customer account that created the receipt.
          schema:
            type: string
            pattern: ^[1-9][0-9]*$
      responses:
        '200':
          description: Receipt state. A pending receipt includes an actionable pendingReason.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    required:
                      - receipt
                    properties:
                      receipt:
                        type: object
                        additionalProperties: false
                        required:
                          - id
                          - operation
                          - state
                          - stateVersion
                          - stateChangedAt
                        properties:
                          id:
                            type: string
                            format: uuid
                          operation:
                            type: string
                            pattern: ^[a-z][a-z0-9_]{0,127}$
                          state:
                            type: string
                            enum:
                              - claimed
                              - running
                              - uncertain
                              - succeeded
                              - failed
                          stateVersion:
                            type: integer
                            minimum: 1
                          stateChangedAt:
                            type: string
                            format: date-time
                          pendingReason:
                            type: string
                            minLength: 1
                  error:
                    type: 'null'
                required:
                  - data
                  - error
        '400':
          description: Invalid receipt ID
          content:
            application/json:
              schema: *ref_6
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema: *ref_6
        '404':
          description: Receipt not found in the authenticated scope
          content:
            application/json:
              schema: *ref_6
        '503':
          description: Receipt store unavailable
          content:
            application/json:
              schema: *ref_6
  /tools/get_status:
    post:
      operationId: get_status
      summary: >-
        Current account, state, blockers, exact fixes, and reachable accounts. For seller demand, use it to tell whether
        readiness stops requests before source calls; read before diagnosing source health, empty responses, or demand.
      description: >-
        Current account, state, blockers, exact fixes, and reachable accounts. For seller demand, use it to tell whether
        readiness stops requests before source calls; read before diagnosing source health, empty responses, or demand.
      security:
        - apiKeyAuth: []
        - m2mOAuth:
            - interchange:read
      parameters:
        - name: X-SCOPE3-CUSTOMER-ID
          in: header
          required: false
          description: >-
            Select an accessible customer account for this request. An explicit value must be a positive integer and
            must equal the account resolved by authentication.
          schema:
            type: string
            pattern: ^[1-9][0-9]*$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              default: {}
              type: object
              properties: {}
              additionalProperties: false
      responses:
        '200':
          description: Typed operation result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: object
                    properties:
                      serverTime:
                        type: string
                        format: date-time
                        pattern: >-
                          ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      account:
                        type: object
                        properties:
                          accountId:
                            type: number
                          company:
                            type: string
                          kind:
                            anyOf:
                              - type: string
                                enum:
                                  - buyer
                                  - seller
                                  - org
                                  - developer
                              - type: 'null'
                        required:
                          - accountId
                          - company
                          - kind
                        additionalProperties: {}
                      listedToolAccountKinds:
                        type: array
                        items:
                          type: string
                          enum:
                            - buyer
                            - seller
                            - org
                            - developer
                      state:
                        type: string
                      canTransact:
                        type: boolean
                      platformReady:
                        type: boolean
                      canBuyAnywhere:
                        type: boolean
                      destinations:
                        type: object
                        properties:
                          total:
                            type: number
                          ready:
                            type: number
                          needsConnection:
                            type: number
                          blocked:
                            type: number
                          readyDestinations:
                            type: array
                            items:
                              type: object
                              properties:
                                sellerId:
                                  type: string
                                name:
                                  type: string
                              required:
                                - sellerId
                                - name
                              additionalProperties: {}
                          readyDestinationsTruncated:
                            type: boolean
                        required:
                          - total
                          - ready
                          - needsConnection
                          - blocked
                          - readyDestinations
                          - readyDestinationsTruncated
                        additionalProperties: {}
                      operatorIdentity:
                        type: object
                        properties:
                          canManage:
                            type: boolean
                          operatorDomain:
                            type:
                              - string
                              - 'null'
                          operatorDomainSource:
                            type:
                              - string
                              - 'null'
                          operatorScope:
                            type:
                              - string
                              - 'null'
                          operator_unit:
                            anyOf:
                              - type: object
                                properties:
                                  id:
                                    type: string
                                    minLength: 1
                                    maxLength: 255
                                    pattern: ^[A-Za-z0-9][A-Za-z0-9._:/-]*$
                                  name:
                                    type: string
                                    minLength: 1
                                    maxLength: 200
                                required:
                                  - id
                                additionalProperties: {}
                              - type: 'null'
                          domainProof:
                            type: object
                            properties:
                              verified:
                                type:
                                  - boolean
                                  - 'null'
                              source:
                                anyOf:
                                  - type: string
                                    enum:
                                      - member_or_admin
                                      - aao_oauth
                                  - type: 'null'
                              confirmedAt:
                                anyOf:
                                  - type: string
                                    format: date-time
                                    pattern: >-
                                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                                  - type: 'null'
                            required:
                              - verified
                              - source
                              - confirmedAt
                            additionalProperties: false
                          organization:
                            type: object
                            properties:
                              domain:
                                type:
                                  - string
                                  - 'null'
                              relationship:
                                type: string
                                enum:
                                  - same_organization
                                  - portfolio_brand
                                  - external_operator
                                  - unresolved
                              verificationSource:
                                type: string
                                enum:
                                  - member_or_admin
                                  - organization_domain
                                  - aao_house
                                  - none
                            required:
                              - domain
                              - relationship
                              - verificationSource
                            additionalProperties: false
                          aao:
                            type: object
                            properties:
                              status:
                                type: string
                                enum:
                                  - matched
                                  - not_found
                                  - unavailable
                                  - not_checked
                              canonicalDomain:
                                type:
                                  - string
                                  - 'null'
                              name:
                                type:
                                  - string
                                  - 'null'
                              source:
                                type:
                                  - string
                                  - 'null'
                            required:
                              - status
                              - canonicalDomain
                              - name
                              - source
                            additionalProperties: false
                          scopeStatus:
                            type: string
                          locked:
                            type: boolean
                          lockedAt:
                            type:
                              - string
                              - 'null'
                          lockReason:
                            type:
                              - string
                              - 'null'
                          hierarchyAccountCount:
                            type: number
                          reconciliation: {}
                          claimedIdentities:
                            type: array
                            items: {}
                          usableForBuying:
                            type: boolean
                        required:
                          - canManage
                          - scopeStatus
                          - locked
                          - hierarchyAccountCount
                          - claimedIdentities
                          - usableForBuying
                        additionalProperties: {}
                      phase:
                        type: string
                      libraryRequirements:
                        anyOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  enum:
                                    - merchandising_agent
                                    - guaranteed_inventory
                                    - catalogue
                                requirement:
                                  type: string
                                status:
                                  type: string
                                  enum:
                                    - met
                                    - missing
                                documentToAdd:
                                  type: string
                                source:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    name:
                                      type: string
                                  required:
                                    - id
                                    - name
                                  additionalProperties: false
                              required:
                                - id
                                - requirement
                                - status
                              additionalProperties: {}
                          - type: 'null'
                      libraryRequirementsOmitted:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                      libraryRequirementsDiagnostic:
                        type: string
                      blockers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            status:
                              type: string
                            why:
                              type: string
                            effect:
                              type: string
                            fix:
                              type: string
                          required:
                            - id
                            - name
                            - status
                          additionalProperties: {}
                      nextActions:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            what:
                              type: string
                            why:
                              type: string
                            priority:
                              type: string
                              enum:
                                - required
                                - recommended
                            tool:
                              type: string
                            page:
                              type: string
                            arguments:
                              type: object
                              propertyNames:
                                type: string
                              additionalProperties:
                                type: string
                            url:
                              type: string
                          required:
                            - id
                            - what
                            - priority
                          additionalProperties: {}
                      reachableAccounts:
                        type: array
                        items:
                          type: object
                          properties:
                            customerId:
                              type: number
                            company:
                              type: string
                            kind:
                              type: string
                              enum:
                                - buyer
                                - seller
                                - org
                                - developer
                          required:
                            - customerId
                            - company
                            - kind
                          additionalProperties: {}
                      reachableAccountsTruncated:
                        type: boolean
                      agents:
                        type: object
                        properties:
                          total:
                            type: number
                          returned:
                            type: number
                          truncated:
                            type: boolean
                          results:
                            type: array
                            items:
                              type: object
                              properties:
                                agentId:
                                  type: string
                                displayName:
                                  type: string
                              required:
                                - agentId
                                - displayName
                              additionalProperties: false
                        required:
                          - total
                          - returned
                          - truncated
                          - results
                        additionalProperties: false
                    required:
                      - serverTime
                      - account
                      - listedToolAccountKinds
                      - state
                      - blockers
                      - nextActions
                      - reachableAccounts
                    additionalProperties: {}
                  error:
                    type: 'null'
                required:
                  - data
                  - error
        '400':
          description: Invalid operation input
          content:
            application/json:
              schema: &ref_7
                $ref: '#/components/schemas/V3ToolErrorResponse'
        '401':
          description: Missing or invalid API credential
          content:
            application/json:
              schema: *ref_7
        '402':
          description: Account credit limit exceeded
          content:
            application/json:
              schema: *ref_7
        '403':
          description: The credential or account cannot perform this operation
          content:
            application/json:
              schema: *ref_7
        '404':
          description: Requested resource not found
          content:
            application/json:
              schema: *ref_7
        '409':
          description: Operation conflicts with current resource state
          content:
            application/json:
              schema: *ref_7
        '413':
          description: Request body exceeds the accepted size
          content:
            application/json:
              schema: *ref_7
        '415':
          description: Request body encoding or character set is unsupported
          content:
            application/json:
              schema: *ref_7
        '422':
          description: Operation cannot process the supplied input
          content:
            application/json:
              schema: *ref_7
        '429':
          description: Request rate limit exceeded
          content:
            application/json:
              schema: *ref_7
        '500':
          description: Unexpected operation failure
          content:
            application/json:
              schema: *ref_7
        '501':
          description: Recognised operation behaviour is not implemented
          content:
            application/json:
              schema: *ref_7
        '503':
          description: A required service is unavailable
          content:
            application/json:
              schema: *ref_7
  /tools/refresh_inventory_source_health:
    post:
      operationId: refresh_inventory_source_health
      summary: >-
        Rechecks one external sales-agent source with no-spend get_products. Returns evidence IDs and seller readiness;
        no source configuration or media buy.
      description: >-
        Rechecks one external sales-agent source with no-spend get_products. Returns evidence IDs and seller readiness;
        no source configuration or media buy.
      security:
        - apiKeyAuth: []
        - m2mOAuth:
            - interchange:write
      parameters:
        - name: X-SCOPE3-CUSTOMER-ID
          in: header
          required: false
          description: >-
            Select an accessible customer account for this request. An explicit value must be a positive integer and
            must equal the account resolved by authentication.
          schema:
            type: string
            pattern: ^[1-9][0-9]*$
        - &ref_9
          name: Idempotency-Key
          in: header
          required: true
          description: >-
            Required for every write. Reuse the same key and validated body to replay the durable result for seven days.
            If this operation also accepts idempotencyKey in its JSON body, the values must match.
          schema:
            type: string
            minLength: 1
            maxLength: 255
            pattern: ^[\x21-\x7e]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sourceId:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Exact external sales-agent source. Managed and modular sources have dedicated diagnostics.
              required:
                - sourceId
              additionalProperties: false
              allOf:
                - properties:
                    sourceId:
                      pattern: \S
      responses:
        '200':
          description: Typed operation result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: object
                    properties:
                      sourceId:
                        type: string
                      outcome:
                        type: string
                        enum:
                          - passed
                          - empty
                          - failed
                          - not_reached
                      checkedAt:
                        type: string
                      operation:
                        type: string
                        const: get_products
                      evidence:
                        type: object
                        properties:
                          runId:
                            type:
                              - string
                              - 'null'
                          taskId:
                            type:
                              - string
                              - 'null'
                          operationId:
                            type:
                              - string
                              - 'null'
                          debugId:
                            type:
                              - string
                              - 'null'
                          correlationId:
                            type:
                              - string
                              - 'null'
                        required:
                          - runId
                          - taskId
                          - operationId
                          - debugId
                          - correlationId
                        additionalProperties: false
                      readiness:
                        type: object
                        properties:
                          status:
                            type: string
                          canTransact:
                            type: boolean
                        required:
                          - status
                          - canTransact
                        additionalProperties: false
                    required:
                      - sourceId
                      - outcome
                      - checkedAt
                      - operation
                      - evidence
                      - readiness
                    additionalProperties: false
                  error:
                    type: 'null'
                required:
                  - data
                  - error
        '202': &ref_10
          description: >-
            The write is still running or needs recovery. Retry this operation with the same Idempotency-Key and body;
            do not mint a new key.
          headers:
            Retry-After:
              required: true
              description: Seconds to wait before retrying the same operation.
              schema:
                type: integer
                minimum: 1
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: object
                    additionalProperties: false
                    required:
                      - receipt
                    properties:
                      receipt:
                        type: object
                        additionalProperties: false
                        required:
                          - id
                          - operation
                          - state
                          - stateVersion
                          - stateChangedAt
                          - pendingReason
                        properties:
                          id:
                            type: string
                            format: uuid
                          operation:
                            type: string
                            pattern: ^[a-z][a-z0-9_]{0,127}$
                          state:
                            type: string
                            enum:
                              - claimed
                              - running
                              - uncertain
                          stateVersion:
                            type: integer
                            minimum: 1
                          stateChangedAt:
                            type: string
                            format: date-time
                          pendingReason:
                            type: string
                            minLength: 1
                  error:
                    type: 'null'
                required:
                  - data
                  - error
        '400':
          description: Invalid operation input
          content:
            application/json:
              schema: &ref_8
                $ref: '#/components/schemas/V3ToolErrorResponse'
        '401':
          description: Missing or invalid API credential
          content:
            application/json:
              schema: *ref_8
        '402':
          description: Account credit limit exceeded
          content:
            application/json:
              schema: *ref_8
        '403':
          description: The credential or account cannot perform this operation
          content:
            application/json:
              schema: *ref_8
        '404':
          description: Requested resource not found
          content:
            application/json:
              schema: *ref_8
        '409':
          description: Operation conflicts with current resource state
          content:
            application/json:
              schema: *ref_8
        '413':
          description: Request body exceeds the accepted size
          content:
            application/json:
              schema: *ref_8
        '415':
          description: Request body encoding or character set is unsupported
          content:
            application/json:
              schema: *ref_8
        '422':
          description: Operation cannot process the supplied input
          content:
            application/json:
              schema: *ref_8
        '429':
          description: Request rate limit exceeded
          content:
            application/json:
              schema: *ref_8
        '500':
          description: Unexpected operation failure
          content:
            application/json:
              schema: *ref_8
        '501':
          description: Recognised operation behaviour is not implemented
          content:
            application/json:
              schema: *ref_8
        '503':
          description: The write could not be durably claimed before dispatch, so it is safe to retry with the same key
          content:
            application/json:
              schema: *ref_8
  /tools/save_account:
    post:
      operationId: save_account
      summary: >-
        Rename an existing direct child Account or update settings.company. Never provisions, archives, or changes
        owners or members; use Account settings for access changes.
      description: >-
        Rename an existing direct child Account or update settings.company. Never provisions, archives, or changes
        owners or members; use Account settings for access changes.
      security:
        - apiKeyAuth: []
        - m2mOAuth:
            - interchange:admin
      parameters:
        - name: X-SCOPE3-CUSTOMER-ID
          in: header
          required: false
          description: >-
            Select an accessible customer account for this request. An explicit value must be a positive integer and
            must equal the account resolved by authentication.
          schema:
            type: string
            pattern: ^[1-9][0-9]*$
        - *ref_9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId:
                  type: integer
                  exclusiveMinimum: 0
                  maximum: 9007199254740991
                  description: Existing direct child Account id returned by search.
                name:
                  description: Account name.
                  type: string
                  minLength: 1
                  maxLength: 255
                settings:
                  description: Safe display settings only. Access, owners, lifecycle, and provisioning are not accepted.
                  type: object
                  properties:
                    company:
                      description: Company label shown for this Account.
                      type: string
                      minLength: 1
                      maxLength: 255
                  additionalProperties: false
              required:
                - accountId
              additionalProperties: false
      responses:
        '200':
          description: Typed operation result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: object
                    properties:
                      action:
                        type: string
                        enum:
                          - saved
                          - unchanged
                      accessChanged:
                        type: boolean
                        const: false
                      lifecycleChanged:
                        type: boolean
                        const: false
                      object:
                        type: object
                        properties:
                          id:
                            type: string
                          name:
                            type: string
                          company:
                            type: string
                          accountType:
                            type: string
                            enum:
                              - buyer
                              - seller
                          enabled:
                            type: boolean
                          status:
                            type: string
                            enum:
                              - ACTIVE
                              - ARCHIVED
                          archivedAt:
                            anyOf:
                              - type: string
                                format: date-time
                                pattern: >-
                                  ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                              - type: 'null'
                          organizationId:
                            type: string
                          settings:
                            type: object
                            properties:
                              company:
                                type: string
                            required:
                              - company
                            additionalProperties: false
                        required:
                          - id
                          - name
                          - company
                          - accountType
                          - enabled
                          - status
                          - archivedAt
                          - organizationId
                          - settings
                        additionalProperties: false
                    required:
                      - action
                      - accessChanged
                      - lifecycleChanged
                      - object
                    additionalProperties: false
                  error:
                    type: 'null'
                required:
                  - data
                  - error
        '202': *ref_10
        '400':
          description: Invalid operation input
          content:
            application/json:
              schema: &ref_11
                $ref: '#/components/schemas/V3ToolErrorResponse'
        '401':
          description: Missing or invalid API credential
          content:
            application/json:
              schema: *ref_11
        '402':
          description: Account credit limit exceeded
          content:
            application/json:
              schema: *ref_11
        '403':
          description: The credential or account cannot perform this operation
          content:
            application/json:
              schema: *ref_11
        '404':
          description: Requested resource not found
          content:
            application/json:
              schema: *ref_11
        '409':
          description: Operation conflicts with current resource state
          content:
            application/json:
              schema: *ref_11
        '413':
          description: Request body exceeds the accepted size
          content:
            application/json:
              schema: *ref_11
        '415':
          description: Request body encoding or character set is unsupported
          content:
            application/json:
              schema: *ref_11
        '422':
          description: Operation cannot process the supplied input
          content:
            application/json:
              schema: *ref_11
        '429':
          description: Request rate limit exceeded
          content:
            application/json:
              schema: *ref_11
        '500':
          description: Unexpected operation failure
          content:
            application/json:
              schema: *ref_11
        '501':
          description: Recognised operation behaviour is not implemented
          content:
            application/json:
              schema: *ref_11
        '503':
          description: The write could not be durably claimed before dispatch, so it is safe to retry with the same key
          content:
            application/json:
              schema: *ref_11
  /tools/review_buyer_child_account:
    post:
      operationId: review_buyer_child_account
      summary: >-
        Review a Buyer child under the selected Organization: name, role, capacity, plan coverage, operator, inherited
        access and other effects. Read-only; nothing is created. Show the review to the person, then call
        request_buyer_child_account.
      description: >-
        Review a Buyer child under the selected Organization: name, role, capacity, plan coverage, operator, inherited
        access and other effects. Read-only; nothing is created. Show the review to the person, then call
        request_buyer_child_account.
      security:
        - apiKeyAuth: []
        - m2mOAuth:
            - interchange:admin
      parameters:
        - name: X-SCOPE3-CUSTOMER-ID
          in: header
          required: false
          description: >-
            Select an accessible customer account for this request. An explicit value must be a positive integer and
            must equal the account resolved by authentication.
          schema:
            type: string
            pattern: ^[1-9][0-9]*$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parentId:
                  description: Exact selected Organization parent Account id.
                  type:
                    - number
                    - string
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Name of the proposed Buyer child Account.
              required:
                - parentId
                - name
              additionalProperties: false
      responses:
        '200':
          description: Typed operation result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: object
                    properties:
                      parent:
                        type: object
                        properties:
                          id:
                            $ref: '#/components/schemas/review_buyer_child_account_success_ParentId'
                          name:
                            type: string
                        required:
                          - id
                          - name
                        additionalProperties: false
                      proposedAccount:
                        type: object
                        properties:
                          name:
                            type: string
                          role:
                            type: string
                            const: BUYER
                          parentId:
                            $ref: '#/components/schemas/review_buyer_child_account_success_ProposedAccountParentId'
                        required:
                          - name
                          - role
                          - parentId
                        additionalProperties: false
                      operator:
                        type: object
                        properties:
                          userId:
                            $ref: '#/components/schemas/review_buyer_child_account_success_OperatorUserId'
                          email:
                            type:
                              - string
                              - 'null'
                          name:
                            type:
                              - string
                              - 'null'
                        required:
                          - userId
                          - email
                          - name
                        additionalProperties: false
                      capacity:
                        type: object
                        properties:
                          consumed:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          remaining:
                            anyOf:
                              - type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                              - type: 'null'
                          limit:
                            anyOf:
                              - type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                              - type: 'null'
                          allowed:
                            type: boolean
                          denialReasons:
                            type: array
                            items:
                              type: string
                        required:
                          - consumed
                          - remaining
                          - limit
                          - allowed
                          - denialReasons
                        additionalProperties: false
                      planCoverage:
                        type: object
                        properties:
                          covered:
                            type: boolean
                          refusal:
                            anyOf:
                              - type: string
                              - type: 'null'
                            description: >-
                              Why the Organization plan does not cover a Buyer Account, the plan it needs and the next
                              step; null when covered.
                        required:
                          - covered
                          - refusal
                        additionalProperties: false
                      accessChanges:
                        type: object
                        properties:
                          parentAdministratorsInheritChildAccess:
                            type: boolean
                            const: true
                          newMemberships:
                            type: number
                            const: 0
                          invitations:
                            type: number
                            const: 0
                        required:
                          - parentAdministratorsInheritChildAccess
                          - newMemberships
                          - invitations
                        additionalProperties: false
                      otherChanges:
                        type: object
                        properties:
                          featureFlags:
                            type: number
                            const: 0
                          mediaBuys:
                            type: number
                            const: 0
                        required:
                          - featureFlags
                          - mediaBuys
                        additionalProperties: false
                      transactionReadiness:
                        type: string
                        const: not_verified
                      canRequest:
                        type: boolean
                      blockers:
                        type: array
                        items:
                          type: string
                    required:
                      - parent
                      - proposedAccount
                      - operator
                      - capacity
                      - planCoverage
                      - accessChanges
                      - otherChanges
                      - transactionReadiness
                      - canRequest
                      - blockers
                    additionalProperties: false
                  error:
                    type: 'null'
                required:
                  - data
                  - error
        '400':
          description: Invalid operation input
          content:
            application/json:
              schema: &ref_12
                $ref: '#/components/schemas/V3ToolErrorResponse'
        '401':
          description: Missing or invalid API credential
          content:
            application/json:
              schema: *ref_12
        '402':
          description: Account credit limit exceeded
          content:
            application/json:
              schema: *ref_12
        '403':
          description: The credential or account cannot perform this operation
          content:
            application/json:
              schema: *ref_12
        '404':
          description: Requested resource not found
          content:
            application/json:
              schema: *ref_12
        '409':
          description: Operation conflicts with current resource state
          content:
            application/json:
              schema: *ref_12
        '413':
          description: Request body exceeds the accepted size
          content:
            application/json:
              schema: *ref_12
        '415':
          description: Request body encoding or character set is unsupported
          content:
            application/json:
              schema: *ref_12
        '422':
          description: Operation cannot process the supplied input
          content:
            application/json:
              schema: *ref_12
        '429':
          description: Request rate limit exceeded
          content:
            application/json:
              schema: *ref_12
        '500':
          description: Unexpected operation failure
          content:
            application/json:
              schema: *ref_12
        '501':
          description: Recognised operation behaviour is not implemented
          content:
            application/json:
              schema: *ref_12
        '503':
          description: A required service is unavailable
          content:
            application/json:
              schema: *ref_12
  /tools/request_buyer_child_account:
    post:
      operationId: request_buyer_child_account
      summary: >-
        Request a Buyer child under the selected Organization. Nothing is created until an Organization administrator
        approves it on our site; the result is approval_required with a link to show the person. Repeat with the same
        idempotencyKey and name for the outcome.
      description: >-
        Request a Buyer child under the selected Organization. Nothing is created until an Organization administrator
        approves it on our site; the result is approval_required with a link to show the person. Repeat with the same
        idempotencyKey and name for the outcome.
      security:
        - apiKeyAuth: []
        - m2mOAuth:
            - interchange:admin
      parameters:
        - name: X-SCOPE3-CUSTOMER-ID
          in: header
          required: false
          description: >-
            Select an accessible customer account for this request. An explicit value must be a positive integer and
            must equal the account resolved by authentication.
          schema:
            type: string
            pattern: ^[1-9][0-9]*$
        - *ref_9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parentId:
                  description: Exact selected Organization parent Account id.
                  type:
                    - number
                    - string
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Name of the proposed Buyer child Account.
                idempotencyKey:
                  type: string
                  format: uuid
                  pattern: >-
                    ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                  description: Stable UUID for this creation. Repeat with the same key and name to get the outcome.
              required:
                - parentId
                - name
                - idempotencyKey
              additionalProperties: false
      responses:
        '200':
          description: Typed operation result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: object
                    properties:
                      action:
                        type: string
                        const: approval_required
                      message:
                        type: string
                      approval:
                        $ref: '#/components/schemas/request_buyer_child_account_success_AgentApproval'
                    required:
                      - action
                      - message
                      - approval
                    additionalProperties: false
                  error:
                    type: 'null'
                required:
                  - data
                  - error
        '202': *ref_10
        '400':
          description: Invalid operation input
          content:
            application/json:
              schema: &ref_13
                $ref: '#/components/schemas/V3ToolErrorResponse'
        '401':
          description: Missing or invalid API credential
          content:
            application/json:
              schema: *ref_13
        '402':
          description: Account credit limit exceeded
          content:
            application/json:
              schema: *ref_13
        '403':
          description: The credential or account cannot perform this operation
          content:
            application/json:
              schema: *ref_13
        '404':
          description: Requested resource not found
          content:
            application/json:
              schema: *ref_13
        '409':
          description: Operation conflicts with current resource state
          content:
            application/json:
              schema: *ref_13
        '413':
          description: Request body exceeds the accepted size
          content:
            application/json:
              schema: *ref_13
        '415':
          description: Request body encoding or character set is unsupported
          content:
            application/json:
              schema: *ref_13
        '422':
          description: Operation cannot process the supplied input
          content:
            application/json:
              schema: *ref_13
        '429':
          description: Request rate limit exceeded
          content:
            application/json:
              schema: *ref_13
        '500':
          description: Unexpected operation failure
          content:
            application/json:
              schema: *ref_13
        '501':
          description: Recognised operation behaviour is not implemented
          content:
            application/json:
              schema: *ref_13
        '503':
          description: The write could not be durably claimed before dispatch, so it is safe to retry with the same key
          content:
            application/json:
              schema: *ref_13
  /tools/save_ask:
    post:
      operationId: save_ask
      summary: >-
        File or update a typed ask in the Apostra Support workflow; returns askId. Supply is buyer inventory. Call
        immediately with type support when a person explicitly asks for a human; do not diagnose first.
      description: >-
        File or update a typed ask in the Apostra Support workflow; returns askId. Supply is buyer inventory. Call
        immediately with type support when a person explicitly asks for a human; do not diagnose first.
      security:
        - apiKeyAuth: []
        - m2mOAuth:
            - interchange:read
      parameters:
        - name: X-SCOPE3-CUSTOMER-ID
          in: header
          required: false
          description: >-
            Select an accessible customer account for this request. An explicit value must be a positive integer and
            must equal the account resolved by authentication.
          schema:
            type: string
            pattern: ^[1-9][0-9]*$
        - *ref_9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
                - type: object
                  properties:
                    id:
                      description: askId from a prior save_ask response.
                      type: string
                      format: uuid
                      pattern: >-
                        ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                    requester:
                      description: Requester track for an existing ask.
                      type: object
                      properties:
                        state:
                          type: string
                          enum:
                            - confirmed_resolved
                            - accepted
                            - still_blocked
                            - withdrawn
                          description: Your answer.
                        note:
                          description: Optional update context.
                          type: string
                          minLength: 1
                          maxLength: 4000
                      required:
                        - state
                      additionalProperties: false
                  required:
                    - id
                    - requester
                  additionalProperties: false
                - type: object
                  properties:
                    type:
                      type: string
                      const: support
                    title:
                      description: What is needed or blocked.
                      type: string
                      minLength: 3
                      maxLength: 160
                    detail:
                      description: Context and expected outcome.
                      type: string
                      maxLength: 4000
                    blocks:
                      description: Omit when unknown.
                      type: string
                      maxLength: 300
                    severity:
                      description: high = one customer blocked. urgent = outage, several customers, or data risk.
                      type: string
                      enum:
                        - low
                        - medium
                        - high
[...]
